<!doctype html>
<html>
<head>
<style>

</style>
	<title>GPIO with Flask!</title>
</head>
<body>

<form method="POST">
	<input type="checkbox" id="submitBtn1" name="led1" value="red clicked" onChange="this.form.submit()" autocomplete="off" >
	<label for="led1">Red LED</label><br>
	<input type="checkbox" id="submitBtn2" name="led2" value="blue clicked" onChange="this.form.submit()" autocomplete="off" >
	<label for="led2">Blue LED</label><br>
</form>

<script>
if ('{{msg}}' === 'checked1'){
        document.getElementById("submitBtn1").checked = true;
}
else if ('{{msg}}' === 'checked2'){
        document.getElementById("submitBtn2").checked = true;
}
else if ('{{msg}}' === 'bothchecked'){
	 document.getElementById("submitBtn1").checked = true;
	 document.getElementById("submitBtn2").checked = true;
}

</script>

</body>
</html>
